<!DOCTYPE html>
<head>
<meta charset="UTF-8">
<title>内容</title>
</head>
<body>
    <form method = "post" action="update">
        <h1>掲示板内容</h1>
        <div>
                     番号：<input type="text" value="<%=board_num %>" name="board_num" id="board_num" readonly>
                    <br>
                    タイトル： <input type="text" value="<%=title %>" name="title" id="title">
                    <br>
                    作成者： <input type="text" value="<%=writer %>" name="writer" id="writer" readonly>
                    <br>
                    <label for ="contents">内容</label> <br>
                    <textarea id="contents" name="contents" rows="5" cols="30"  minlength="5" maxlength="20" ><%=contents %></textarea>
                    <br>
                    <input type="submit" name="action" value="修正"/>
                    <input type="submit" value="削除" formaction="delete">
                    <br>
                    <input type="button" value="目録" onclick="location.href='/noticeview'">
                </label>
            </div>
            </form>
            <br>
    </body>
</html>
 