<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>掲示板</h1>
<tr>
    <td>タイトル</td>
    <td>作成者</td>
    <td>作成日</td>    
</tr>   <%for(let i = 0; i<10; i++) {%>
            <div>
                <li>
                <a href="/contentspage" id="board_num" name="board_num" value=""><%= data.board_num %></a>
                <a href="/contentspage" id="title" name="title"><%= data.title %></a>
                <a href="/contentspage" id="writer" name="writer"><%= writer %></a>
            </li>
            </div>
            <%}%>
           
    <br>
    <br>
    <br>
    <a href="/">目録</a>
    <a href="/write">作成</a>



    
</body>
</html>